<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secshow.demo.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.secshow.demo.model.Category">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update category
    set is_deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.secshow.demo.model.Category">
    insert into category (name, detail, create_time, update_time,
      create_by, update_by
      )
    values ( #{name,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, CURRENT_TIME , CURRENT_TIME ,
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.secshow.demo.model.Category">
    update category
    set name = #{name,jdbcType=VARCHAR},
        detail = #{detail,jdbcType=VARCHAR},
      update_time = CURRENT_TIME ,
      update_by = #{updateBy,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, detail, create_time, update_time, create_by, update_by, is_deleted
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, detail, create_time, update_time, create_by, update_by, is_deleted
    from category
    where is_deleted = 0
  </select>
</mapper>